<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>ID des Containers, der den Request bearbeitet hat:</th>
      <td>{{ hostName }}</td>
    </tr>
  </table>

</div>